@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "poppins";
  background-color: #273446;
  height: 100vh;
}
